
@if (authzService.userSignal() != null) {
<div class="row">
  <div class="col-md-12">
    <h1 class="text-success">Congratulation</h1>
    <p>
      You got FSS running, now it is time to modify it to implement your dream project
    </p>
   <ol>
     <li>Create your domain model</li>
   </ol>

  </div>
</div>
}
<div class="row">
  <div class="col-md-12">
    <h2>About FSS</h2>
    <p>
      FSS is a full tech stack to power startups which aims to
      handle important business processes with ease, be very productive,
      and be able to scale team and platform without any headaches.
      <a href="https://medium.com/@kgignatyev/full-startup-starter-on-jvm-stack-c83a4f0a28ad">Read more in the FSS Intro.</a>
    </p>

  </div>
</div>
<div class="row">
        <div class="col-md-12">
          <img src="/assets/about/objectives.png" alt="FSS Objectives" class="img-fluid"/>
        </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <img src="/assets/about/fss-intro-1.jpg" alt="FSS Introduction" class="img-fluid"/>
      <div class="card-body">
        <div class="card-text">
          <h3>The productivity vs control is a false spectrum</h3>
          FSS is following ‘decoupled’ architecture
          but choice of components and <a href="#" >API (Design) First</a> development
          ideology makes it very productive
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">

      <div class="card-body">
        <div class="card-text">
          <h3>Batteries included</h3>
          <h6>And can be easily changed</h6>
          <ul>
            <li>Fully functional out of box</li>
            <li>Plain Vanilla technologies</li>
            <li>Any developer can start and refactor with an IDE
              (<a href="https://www.jetbrains.com/idea/">IntelliJ</a> is recommended though)</li>
            <li>SSO and Social logins</li>
            <li>API first: documentation and SDK-s are generated</li>
            <li>Observability</li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
